<section class="trip">
  <div class="trip-container">
    <div class="trip-video">
      <div class="trip-video-bg"></div>
      <div class="trip-video-overlay">
        <div class="trip-wrapper-btn">
          <button class="trip-play-btn" id="video-play-btn"></button>
        </div>
      </div>
    </div>
    <div class="trip-content">
      <span class="fs-24 yellow-color">о нашем походе</span>
      <h1 class="trip-title fs-32 bold">Исследуйте все горные массивы мира вместе с нами</h1>
      <p class="trip-story fs-18">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.
      </p>
      <button class="trip-tour-button fs-16 bold" id="submit-tour-btn" (click)="messageService.showSuccess('Программа тура')">
        Программа тура
      </button>
    </div>
  </div>
</section>

<section class="offers">
  <div class="offers-container">
    <div class="offers-content">
      <span class="fs-24 yellow-color">наше предложение</span>
      <h1 class="offers-title fs-32">Лучшие программы для тебя</h1>
      <p class="offers-description fs-18">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.
      </p>
      <ul class="offers-features">
        @for (offer of offers; track offer.id) {
          <li class="offers-feature">
            <div class="offers-wrapper-icon">
              <img [src]="'images/' + offer.icon + '.svg'" [alt]="offer.icon">
            </div>
            <div class="offers-wrapper">
              <h3 class="offers-feature-title fs-18">{{ offer.title }}</h3>
              <p class="offers-feature-text fs-14">{{ offer.text }}</p>
            </div>
          </li>
        }
      </ul>
      <button class="offers-price-btn fs-16" id="submit-price-btn" (click)="messageService.showWarn('Стоимость программ')">
        Стоимость программ
      </button>
    </div>
    <div class="offers-gallery">
      @for (picture of galleryImages; track picture.id) {
        <img [src]="'images/' + picture.image + '.png'" [alt]="picture.image">
      }
    </div>
  </div>
</section>

<section class="popular">
  <div class="popular-content">
    <span class="fs-24 yellow-color">по версии отдыхающих</span>
    <h3 class="popular-title fs-32 extra-bold ">Популярные направления</h3>
    <div class="popular-card">
      @for (popular of populars; track popular.id) {
        <div class="popular-wrapper-card">
          <div class="popular-card-image">
            <img [src]="'images/' + popular.image + '.png'" [alt]="popular.image">
            <div class="popular-card-rating">
              <img [src]="'images/' + popular.icon + '.svg'" [alt]="popular.icon">
              {{ popular.rating }}
            </div>
          </div>
          <div class="popular-card-bottom">
            <div class="popular-card-wrapper">
              <h3 class="popular-card-title fs-24 bold">
                {{ popular.title }}
              </h3>
              <span class="popular-card-description fs-14">
                    {{ popular.description }}
              </span>
            </div>
            <div class="popular-card-wrapper-price fs-20 bold">
              <span class="popular-card-price">{{ popular.price }} &#x24;</span>
            </div>
          </div>
        </div>
      }
    </div>
    <button class="popular-rating-btn fs-16 bold" id="submit-rating-btn" (click)="messageService.showInfo('Рейтинг направлений')">
      Рейтинг направлений
    </button>
  </div>
</section>

<section class="travel">
  <div class="travel-content">
    <span class="travels-top-text fs-24 yellow-color">делимся впечатлениями</span>
    <h3 class="travel-title fs-32 extra-bold">Блог о путешествиях</h3>
    <div class="travels-cards-content">
      @for (travel of travels; track travel) {
        <div class="travel-card-container">
          @if (travel.image) {
            <img [src]="'images/' + travel.image + '.png'" [alt]="travel.image">
          }
          <div class="travel-card-information">
            <div class="travel-card-wrapper">
              <h3 class="travel-card-title fs-24 lh-32 bold">{{ travel.title }}</h3>
              <p class="travel-card-description fs-14 lh-20">{{ travel.description }}</p>
            </div>
            <div class="travel-card-date">
              <span class="travel-date yellow-color">{{ travel.date }}</span>
              <a id="travel-link-read" class="travel-link-read fs-14 bold" href="#">{{ travel.link }}</a>
            </div>
          </div>
        </div>
      }
    </div>
    <button class="travel-card-btn fs-16 bold" id="submit-materials-btn" (click)="messageService.showError('Другие материалы')">
      Другие материалы
    </button>
  </div>
</section>

<section class="gallery">
  <div class="gallery-container">
    <span class="fs-24 yellow-color">фото-отчет</span>
    <h3 class="gallery-title fs-32 extra-bold">Делимся впечатлениями</h3>
    <div class="gallery-images">
      @for (picture of galleryPictures; track picture.id) {
        <div>
          <img [src]="'images/' + picture.image + '.png'" [alt]="picture.image">
        </div>
      }
    </div>
    <button class="gallery-btn" id="submit-gallery-btn">Наш pinterest</button>
  </div>
</section>

