<form [formGroup]="form" (ngSubmit)="handleSubmit($event)" class="create-user-form">
  <h2 class="form-title">Создание пользователя</h2>

  <label class="form-label">
    <span>Имя</span>
    <input id="create-user-name" type="text" formControlName="name"/>
  </label>

  <label class="form-label">
    <span>Фамилия</span>
    <input id="create-user-username" type="text" formControlName="lastname"/>
  </label>

  <label class="form-label">
    <span>Почта</span>
    <input id="create-user-email" type="text" formControlName="email"/>
    <small class="field-error">Некорректный email</small>
  </label>

  <label class="form-label">
    <span>Телефон</span>
    <input id="create-user-phone" type="text" formControlName="phone"/>
    <small class="field-error">Разрешены цифры и символы +()-</small>
  </label>

  <label class="form-label">
    <span>Сайт</span>
    <input id="create-user-website" type="text" formControlName="website"/>
    <small class="field-error">Пример: site.com</small>
  </label>

  <div formGroupName="address">
    <label class="form-label">
      <span>Город</span>
      <input id="create-user-city" type="text" formControlName="city"/>
    </label>

    <label class="form-label">
      <span>Улица</span>
      <input id="create-user-street" type="text" formControlName="street"/>
    </label>

    <label class="form-label">
      <span>Офис</span>
      <input id="create-user-suite" type="text" formControlName="suite"/>
    </label>

    <label class="form-label">
      <span>Индекс</span>
      <input id="create-user-zipcode" type="text" formControlName="zipcode"/>
    </label>

    <div formGroupName="geo">
      <label class="form-label">
        <span>Широта</span>
        <input id="create-user-lat" type="text" formControlName="lat"/>
      </label>

      <label class="form-label">
        <span>Долгота</span>
        <input id="create-user-lng" type="text" formControlName="lng"/>
      </label>
    </div>
  </div>

  <div formGroupName="company">
    <label class="form-label">
      <span>Компания</span>
      <input id="create-user-company-name" type="text" formControlName="name"/>
    </label>

    <label class="form-label">
      <span>Миссия</span>
      <input id="create-user-catch-phrase" type="text" formControlName="catchPhrase"/>
    </label>

    <label class="form-label">
      <span>Специализация</span>
      <input id="create-user-bs" type="text" formControlName="bs"/>
    </label>
  </div>

  <button id="create-user-submit-btn" class="form-submit-btn" type="submit" [disabled]="form.invalid">
    Создать пользователя
  </button>
</form>
