<div class="posts">
  <p-contextmenu #cm [model]="contextMenuItems" (onHide)="selectedPost = null" />
  <p-table
    [value]="(posts$ | async) ?? []"
    [tableStyle]="{ 'min-width': '60rem' }"
    [paginator]="true"
    [rows]="limit"
    [showCurrentPageReport]="true"
    [first]="offset"
    currentPageReportTemplate="{first} из {last}. Всего: {totalRecords}"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
    [lazy]="true"
    [lazyLoadOnInit]="true"
    [totalRecords]="(totalCount$ | async) ?? 0"
    [alwaysShowPaginator]="true"
    [contextMenu]="cm"
    [(contextMenuSelection)]="selectedPost"
  >
    <ng-template #caption>
      <div class="posts-header">
        <span class="text-xl font-bold">Посты</span>
        <div class="posts-actions">
          <p-button class="posts-add-btn" id="posts-add" (click)="createPost()" raised
            >Создать</p-button
          >
        </div>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Title</th>
        <th>Tags</th>
        <th>Views</th>
      </tr>
    </ng-template>
    <ng-template #body let-post>
      @if (isLoading) {
        <tr>
          <td>
            <p-skeleton />
          </td>
          <td>
            <p-skeleton />
          </td>
          <td>
            <p-skeleton />
          </td>
          <td>
            <p-skeleton />
          </td>
        </tr>
      } @else {
        <tr [pContextMenuRow]="post" (dblclick)="toPostDetailPage(post)">
          <td>{{ post.title }}</td>
          <td>
            @for (tag of post.tags; track tag) {
              <p-tag [value]="tag" [severity]="'info'" />
            }
          </td>
          <td>{{ post.views }}</td>
        </tr>
      }
    </ng-template>
  </p-table>
</div>
