<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="create-user-form">
  <h2 class="form-title">Создание пользователя</h2>

  <label class="form-label">
    <span>Имя</span>
    <div gradientBorder>
      <input id="name" type="text" formControlName="name"/>
    </div>
  </label>

  <label class="form-label">
    <span>Фамилия</span>
    <div gradientBorder>
      <input id="username" type="text" formControlName="username"/>
    </div>
  </label>

  <label class="form-label">
    <span>Почта</span>
    <div gradientBorder>
      <input id="email" type="text" formControlName="email"/>
    </div>
  </label>

  <label class="form-label">
    <span>Телефон</span>
    <div gradientBorder>
      <input id="phone" type="text" formControlName="phone"/>
    </div>
  </label>

  <label class="form-label">
    <span>Сайт</span>
    <div gradientBorder>
      <input id="website" type="text" formControlName="website"/>
    </div>
  </label>

  <div formGroupName="address">
    <label class="form-label">
      <span>Город</span>
      <div gradientBorder>
        <input id="city" type="text" formControlName="city"/>
      </div>
    </label>

    <label class="form-label">
      <span>Улица</span>
      <div gradientBorder>
        <input id="street" type="text" formControlName="street"/>
      </div>
    </label>

    <label class="form-label">
      <span>Офис</span>
      <div gradientBorder>
        <input id="suite" type="text" formControlName="suite"/>
      </div>
    </label>

    <label class="form-label">
      <span>Индекс</span>
      <div gradientBorder>
        <input id="zipcode" type="text" formControlName="zipcode"/>
      </div>
    </label>

    <div formGroupName="geo">
      <label class="form-label">
        <span>Широта</span>
        <div gradientBorder>
          <input id="lat" type="text" formControlName="lat"/>
        </div>
      </label>

      <label class="form-label">
        <span>Долгота</span>
        <div gradientBorder>
          <input id="lng" type="text" formControlName="lng"/>
        </div>
      </label>
    </div>
  </div>

  <div formGroupName="company">
    <label class="form-label">
      <span>Компания</span>
      <div gradientBorder>
        <input id="company-name" type="text" formControlName="name"/>
      </div>
    </label>

    <label class="form-label">
      <span>Миссия</span>
      <div gradientBorder>
        <input id="catch-phrase" type="text" formControlName="catchPhrase"/>
      </div>
    </label>

    <label class="form-label">
      <span>Специализация</span>
      <div gradientBorder>
        <input id="bs" type="text" formControlName="bs"/>
      </div>
    </label>
  </div>

  <button boldHover id="submit-btn" class="form-submit-btn" type="submit" [disabled]="form.invalid">
    Создать пользователя
  </button>
</form>
