<!doctype html>
<header class="header">
  <div class="header-content">
    <div class="header-nav-wrapper">
      <div class="header-logo-container">
        <div class="logo"></div>
        <span class="logo-text fs-16 bold">{{ companyName }}</span>
      </div>
      <nav class="header-menu fs-18 bold">
        <a href="#">Главная</a>
        <a href="#">Про гида</a>
        <a href="#">Программа тура</a>
        <a href="#">Стоимость</a>
        <a href="#">Блог</a>
        <a href="#">Контакты</a>
        <button class="btn-consultation">Консультация</button>
      </nav>
    </div>
    <div class="header-search-wrapper fs-24">
      <h1 class="header-title">
        Насладись прогулкой в горах<br> с командой единомышленников
      </h1>
      <div class="header-tour-search">
        <div class="header-location-search">
          <select>
            <option value="" disabled selected hidden>
              Выберите город
            </option>
            <option value="msk">Москва</option>
            <option value="spb">Санкт-Петербург</option>
          </select>
          <span class="location-search-text fs-18">выберите из списка</span>
        </div>
        <div class="header-location-search">
          <select>
            <option value="" disabled selected hidden>
              Дата похода
            </option>
            <option value="one">1</option>
            <option value="two">2</option>
          </select>
          <span class="location-search-text fs-18">укажите диапазон</span>
        </div>
        <div class="header-location-search">
          <select>
            <option value="" disabled selected hidden>
              Участники
            </option>
            <option value=""></option>
            <option value=""></option>
          </select>
          <span class="location-search-text fs-18">минимум 4 человека</span>
        </div>
        <div class="header-location-search">
          <button class="btn-program-find fs-18 bold">Найти программу</button>
        </div>
      </div>
    </div>
  </div>
</header>