@use ".././assets/styles.scss" as *;
@use ".././assets/_mixin.scss" as *;

.trip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 726px;
  background: var(--white-color);
}

.trip-container {
  display: flex;
  width: 1180px;
  height: 526px;
}

.trip-video {
  width: 100%;
  height: 100%;
  position: relative;

  .trip-video-bg {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 400px;
    background: url('../../public/images/bg-imountains-video.png') no-repeat;
  }

  .trip-video-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 350px;
    height: 400px;
    background: url('../../public/images/bg-trip-video.png') no-repeat;
    top: 24%;
    left: 132px;

    .trip-wrapper-btn {
      background: rgba(253, 253, 253, 0.6);
      border-radius: 50%;
      width: 50px;
      height: 50px;

      &:hover {
        background: var(--white-color);
      }
    }

    .trip-play-btn {
      display: flex;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50%;
      background: url('../../public/images/play-video-icon.svg') no-repeat center;
      cursor: pointer;
    }
  }
}

.trip-content {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-right: 20px;

  .trip-title {
    margin-top: 8px;
    margin-bottom: 40px;
    color: var(--black-color);
  }

  .trip-story {
    line-height: 150%;
  }

  .trip-tour-button {
    @include button-base;

    width: 200px;
    margin-top: 55px;
    margin-bottom: 64px;
  }
}

.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 771px;
  background: var(--beige-color);

  .offers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    gap: 80px;
  }

  .offers-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .offers-title {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .offers-feature {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 24px;
    margin-top: 40px;

    &:hover {
      outline: 1px solid var(--green-color);
    }
  }

  .offers-wrapper-icon {
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    padding-top: 10px;
  }

  .offers-wrapper {
    display: flex;
    flex-direction: column;
  }

  .offers-description {
    line-height: 150%;
  }

  .offers-feature-text {
    line-height: 20px;
  }

  .offers-price-btn {
    @include button-base;

    width: 236px;
    margin-top: 20px;
  }

  .offers-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 10px;
  }

  .offers-gallery-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.popular {
  display: flex;
  justify-content: center;
  height: 893px;
  background: var(--white-color);

  .popular-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1180px;
  }

  .popular-rating-btn {
    @include button-base;

    width: 244px;
    margin-top: 50px;
  }

  .popular-title {
    margin-bottom: 50px;
  }

  .popular-card {
    display: flex;
    gap: 20px;

    .popular-wrapper-card {
      width: 380px;
      display: flex;
      position: relative;
    }

    .popular-card-image {
      width: 380px;
      height: 500px;
      position: relative;
    }

    .popular-card-rating {
      display: flex;
      justify-content: end;
      align-content: center;
      align-items: center;
      padding-right: 8px;
      z-index: 2;
      top: 50px;
      right: 0;
      position: absolute;
      background: rgba(253, 253, 253, 0.4);
      gap: 8px;
      width: 65px;
      height: 32px;
      box-shadow-blur: 4px;
    }

    .popular-card-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.38);
      width: 100%;
      height: 90px;
      color: var(--white-color);

      .popular-card-wrapper {
        padding-left: 25px;
      }

      .popular-card-wrapper-price {
        padding-right: 25px;
      }

      .popular-card-price {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.38);
        width: 86px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}

.travel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1036px;
  background: var(--beige-color);

  .travel-title {
    padding-bottom: 40px;
    padding-top: 8px;
  }

  .travel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .travels-cards-content {
    display: flex;
    flex-wrap: wrap;
    width: 1180px;
    height: 648px;
    gap: 20px;
  }

  .travel-card-container {
    display: flex;
    width: 548px;
    height: 280px;
    background: var(--white-color);
    border-radius: 7px;
    gap: 24px;
    padding: 16px;
  }

  .travel-card-information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .travel-card-title {
      padding-top: 16px;
      padding-bottom: 28px;

      &:hover {
        text-decoration: underline 1px solid;
        text-decoration-skip-ink: none;
      }
    }

    .travel-card-date {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
    }

    .travel-link-read {
      text-decoration: none;
      color: var(--green-color)
    }
  }

  .travel-card-btn {
    @include button-base;

    width: 220px;
    margin-top: 50px;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  height: 1011px;
  background: var(--white-color);

  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;

    & h3 {
      margin-top: 10px;
      margin-bottom: 40px;
    }

    .gallery-images {
      display: flex;
      flex-wrap: wrap;
      width: 1180px;
      height: 526px;
      gap: 18px;
      border-radius: 7px;
    }

    .gallery-btn {
      @include button-base;

      width: 178px;
      margin-top: 50px;
    }
  }
}