@use "../../assets/styles" as *;
@use "../../assets/mixin" as *;

.header-nav-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #18121E80;
  position: absolute;
  z-index: 1;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  height: 72px;
}

.header-logo-container {
  display: flex;
  flex-direction: column;

  .logo {
    display: flex;
    width: 137px;
    height: 50px;
    background: url('../../../public/images/logo-imountains.svg') no-repeat;
  }

  .logo-text {
    text-transform: uppercase;
    letter-spacing: 7px;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  gap: 24px;

  & a {
    display: flex;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;

    &.active-link {
      text-decoration: underline 1px solid;
      text-decoration-skip-ink: none;
      color: var(--yellow-color);
    }
  }
}

.btn-consultation {
  @include button-base;

  background: var(--white-color);
  color: #18121E;
  width: 157px;
  margin-left: 20px;
}

.header-date-counter {
  display: flex;
  width: 1180px;
  align-items: center;
  justify-content: end;
  min-height: 100px;

  .header-toggle-btn {
    @include button-base;

    background: var(--white-color);
    color: #18121E;
    width: 157px;
    margin-left: 20px;
  }

  .counter-btn {
    width: 20px;
    height: 20px;
  }
}
