<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="form">
    <input type="text" formControlName="title">
    <input type="number" formControlName="views">
    <div class="form-tags" formArrayName="tags">
      @for (tag of tags.controls; track $index) {
        <div style="display: flex; gap: 3px">
          <input type="text" [formControl]="tag"/>
          <button (click)="removeTagControl($index)">Удалить тег</button>
        </div>
      }
      <button type="button" (click)="addTagControl()">Добавить тег</button>
    </div>
    <button type="submit">Сохранить изменения</button>
  </form>
</div>
