<p>change-detection works!</p>

<div>
  <h2>Счетчик: {{ count }}</h2>

  <button (click)="ChangeDetectionOne()">Сценарий 1 (Click)</button>
  <button (click)="ChangeDetectionTwo()">Сценарий 2 (setTimeout)</button>
  <button (click)="ChangeDetectionThree()">Сценарий 3 (Promise)</button>
  <button (click)="ChangeDetectionFour()">Сценарий 4 (HttpClient)</button>
  <button (click)="ChangeDetectionFive()">Сценарий 5 (setInterval)</button>
  <button (click)="ChangeDetectionSix()">Сценарий 6 (Комбо)</button>
</div>
