@use './fonts';
@use './normalize';

@mixin button-base {
  height: 52px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);

  &:active {
    background: var(--color-button-primary-bg-hover);
    outline: 1px solid var(--color-button-primary-bg);
    border: none;
  }
}
