@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --white-color: #FDFDFD;
  --green-color: #1A3E3E;
  --light-green-color: #317171;
  --yellow-color: #F2BE22;
  --black-color: #18121E;
  --beige-color: #F3F5F4;
  --dark-blue-color: #0F172AD9;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-32 {
  font-size: 32px;
}

.fs-50 {
  font-size: 5px;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.lh-20 {
  line-height: 20px;
}

.lh-32 {
  line-height: 32px;
}

.yellow-color {
  color: var(--yellow-color);
}

.white-color {
  color: var(--white-color);
}

.black-color {
  color: var(--black-color);
}

.underline {
    text-decoration: underline 1px solid;
    text-decoration-skip-ink: none;
}

.no-underline {
  text-decoration: none
}