@use './fonts';
@use './normalize';
@import "primeicons/primeicons.css";

* {
  font-family: 'Nunito Sans';
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --primary-color: var(--p-primary-color);
  --white-color: #FDFDFD;
  --light-green-color: #317171;
  --yellow-color: #F2BE22;
  --black-color: #18121E;
  --beige-color: #F3F5F4;
  --dark-blue-color: #0F172AD9;
  --caramel-color: #D4A373;
  --blue-color: #F3F5F4;
  --grey-color: #E2E8F0;
  --slate-gray-color: #667C7C;

  --color-surface-base: var(--p-content-background);
  --color-surface-subtle: var(--p-surface-400);
  --color-button-primary-bg: var(--p-primary-color);
  --color-button-primary-bg-hover: var(--p-button-primary-hover-background);
  --color-button-primary-bg-active: var(--p-button-primary-active-background);
  --color-button-primary-text: var(--p-button-primary-color);
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
}


.fs-50 {
  font-size: 5px;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.lh-20 {
  line-height: 20px;
}

.lh-32 {
  line-height: 32px;
}

.yellow-color {
  color: var(--yellow-color);
}

.white-color {
  color: var(--white-color);
}

.black-color {
  color: var(--black-color);
}

.underline {
  text-decoration: underline 1px solid;
  text-decoration-skip-ink: none;
}

.no-underline {
  text-decoration: none
}

.animated-gradient-border {
  position: relative;
  border-radius: 10px;
  padding: var(--gradient-thickness);
  background: linear-gradient(270deg, var(--gradient-colors));
  background-size: 400% 400%;
  animation: gradientBorder 6s ease infinite;
}

@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
