@use "../../assets/styles" as *;

.users-page {
  margin: auto;
  background: var(--blue-color);
}

.users-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 1640px;
  gap: 70px;
  margin-top: 80px;
  margin-bottom: 170px;
}
