@use '../../assets/styles' as *;

.users-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 160px;
  background: var(--blue-color);
  justify-content: center;
}

.users-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 1640px;
  gap: 70px;
  margin-top: 80px;
  margin-bottom: 170px;
}
