<section class="users-page">
  <div class="users-card-container">
    @for (user of users$ | async; track user.id) {
      <div class="card-container">
        <span class="card-user-name">{{ user.name }}</span>
        <span class="card-user-surname">{{'&#64;' + user.username }}</span>

        <div class="card-user-wrapper">
          <span class="card-user-title">Контакты</span>
          <div class="card-user-line"></div>
        </div>
        <div class="card-user-info">
          <span class="card-user-property">Эл. почта:</span> 
          <span class="user-info-value user-value">{{ user.email }}</span>
        </div>
        <div class="card-user-info">
          <span class="card-user-property">Телефон:</span> 
          <span class="user-info-value">{{ user.phone }}</span>
        </div>
        <div class="card-user-info">
          <span class="card-user-property card-property">Веб-сайт:</span> 
          <span class="user-info-value user-value">{{ user.website }}</span>
        </div>

        <div class="card-user-wrapper">
          <span class="card-user-title">Адрес Проживания</span>
          <div class="card-user-line"></div>
        </div>
        <div class="card-user-info">
          <span class="card-user-property">Город:</span> 
          <span class="user-info-value">{{ user.address.city }}</span>
        </div>
        <div class="card-user-info">
          <span class="card-user-property">Улица:</span> 
          <span class="user-info-value">{{ user.address.street }}</span>
        </div>
        <div class="card-user-info">
          <span class="card-user-property">Офис:</span> 
          <span class="user-info-value">{{ user.address.suite }}</span>
        </div>
        <div class="card-user-info">
          <span class="card-user-property">Индекс:</span> 
          <span class="user-info-value">{{ user.address.zipcode }}</span>
        </div>
        <div class="card-user-info">
          <span class="card-user-property">Координаты:</span> 
          <div>
            <span class="user-info-value">{{ user.address.geo.lat }}</span>
            <span class="user-info-value">{{ user.address.geo.lng }}</span>
          </div>
        </div>

        <div class="card-user-wrapper">
          <span class="card-user-title">Место работы</span>
          <div class="card-user-line"></div>
        </div>
        <div class="card-user-info">
          <span class="card-user-property">Компания:</span> 
          <span class="user-info-value">{{ user.company.name }}</span>
        </div>
        <div class="card-user-info">
          <span class="card-user-property">Миссия:</span> 
          <span class="user-info-value user-info-color">{{ user.company.catchPhrase }}</span>
        </div>
        <div class="card-user-info">
          <span class="card-user-property">Специализация:</span>
          <span class="user-info-value">{{ user.company.bs }}</span>
        </div>
      </div>
  }
  </div>
</section>
