<footer class="footer">
  <div class="footer-mailing">
    <div class="footer-mailing-content">
      <div class="mailing-title-container">
        <span class="fs-18 yellow-color">актуально</span>
        <h3 class="fs-28 lh-32 extra-bold">Получайте полезные <br> рассылки о путешествиях</h3>
      </div>
      <div class="mailing-email-container">
        <span class="fs-16 bold">Введите e-mail адрес</span>
        <div class="mailing-email-wrapper">
          <input type="email" class="mailing-email" id="mailing-email" placeholder="name@domain.com">
          <button class="mailing-btn fs-16 bold" id="mailing-email-btn">Подписаться на новости</button>
        </div>
        <p>
          подписываясь на новости, вы автоматически соглашаетесь с
          <a href="#" class="underline black-color" id="mailing-personal-data">условиями <br> обработки персональных данных</a> и
          <a href="#" class="underline black-color" id="mailing-advertising">правилами рекламных рассылок</a>
        </p>
      </div>
    </div>
  </div>

  <div class="footer-main">
    <div class="footer-company-contacts">
      <h3 class="footer-company-title fs-20 bold white-color">Компания «РумТибет»</h3>
      <p class="fs-14 lh-20 white-color">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.
      </p>
      <div class="footer-email-link">
        <a href="mailto:info@domain.com" class="footer-email-link underline white-color fs-14" id="footer-email-link">
          info&#64;domain.com
        </a>
        <a href="tel:+71234567890" class="underline white-color fs-14" id="footer-telephone-link">
          +7 (123) 456-78-90
        </a>
      </div>
      <div class="footer-icon-link">
        @for (icon of galleryIcons; track icon.id) {
          <a href="#" [id]="icon.id">
            <img [src]="'images/' + icon.image + '.svg'" [alt]="icon.image">
          </a>
        }
      </div>
    </div>

    <div class="footer-services-container">
      <h3 class="footer-services-title fs-20 white-color">Наши услуги</h3>
      <nav class="footer-services-nav">
        <a href="#" class="no-underline white-color fs-14" id="footer-mountains-link">
          Прогулки в горы летом
        </a>
        <a href="#" class="no-underline white-color fs-14" id="footer-hiking-link">
          Зимние походы в горы
        </a>
        <a href="#" class="no-underline white-color fs-14" id="footer-temple-link">
          Посещение храмов в горах
        </a>
        <a href="#" class="no-underline white-color fs-14" id="footer-extreme-link">
          Экстремальные виды туризма
        </a>
        <a href="#" class="no-underline white-color fs-14" id="footer-amazon-link">
          Походы в джунглях Амазонии
        </a>
        <a href="#" class="no-underline white-color fs-14" id="footer-africa-link">
          Поездка в Африку
        </a>
      </nav>
    </div>

    <div class="footer-trips-container">
      <h3 class="fs-20 white-color">Важно для путешествий</h3>
      <nav class="footer-trips-list">
        <a href="#" class="no-underline white-color fs-14" id="footer-hike-link">
          Как собрать в долгий поход?
        </a>
        <a href="#" class="no-underline white-color fs-14" id="footer-objects-link">
          Жизненно важные предметы для похода
        </a>
        <a href="#" class="no-underline white-color fs-14" id="footer-insurance-link">
          Медицинская страховка, гарантии безопасности
        </a>
        <a href="#" class="no-underline white-color fs-14" id="footer-doctor-link">
          Если вы врач - загляните сюда
        </a>
      </nav>
    </div>
  </div>

  <div class="footer-privacy-policy">
    <div class="footer-policy-wrapper">
      <span class="fs-14 white-color">ИП Константинопольский К.К., 2023</span>
      <a href="#" class="footer-policy-link fs-14 white-color underline" id="footer-info-link">
        Политика обработки персональных данных
      </a>
    </div>
  </div>
</footer>
